.traffic-light{
    height: 475px;
    width: 250px;
    background: black;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-evenly;

}

.pole{
    height: 200px;
    width: 30px;
    background: black;
    margin: auto;

}

.light{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    margin: auto;
}

.red{

    background: red;

}

.yellow{

    background: rgb(255, 204, 0);

}

.green{

    background: green;

}

.glow{
    box-shadow: 0px 0px 30px 10px #e8d974;
}
